@model BloggingApp.ViewModels.UserWrapperVM

@{
}
<h1>Sign Up</h1>
<form action="Signup" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" asp-for="User.Name">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="mailaddress" asp-for="User.MailAddress">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" asp-for="User.Password">
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
</form>